<html>
    <head>
        <title>Employee</title>
    </head>
    <body>
        <form>
        Employee ID:<input type="text" name="employee_id" >
        Employee Name:<input type ="text" name="employee_name">
        Qualification:<input type="text" name="qualification">
        <div class="form-group row">
            <div class="col-sm-10 offset-md-4">
              <button type="submit" class="btn btn-sm btn-primary" id="submit">Submit</button>
              <button type="reset" class="btn btn-sm btn-warning">Clear</button>
            </div>
          </div>
       </form>
    </body>

</html>